<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Connexion</h1>
                  <p class="text-muted">Se connecter à son compte</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username"
                           name="username" [(ngModel)]="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                           name="password" [(ngModel)]="password" required>
                  </div>
                  <alert type="danger" *ngIf="error">
                    {{ error }}
                  </alert>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="submit()">Connexion</button>
                    </div>
<!--                    <div class="col-6 text-right">-->
<!--                      <button type="button" class="btn btn-link px-0">Forgot password?</button>-->
<!--                    </div>-->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
