<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <strong>Liste des dons</strong>
      </div>
      <div class="card-body p-0">
        <ngx-datatable #table
          class="bootstrap expandable"
          [rows]="rows"
          [loadingIndicator]="true"
          [columnMode]="ColumnMode.force"
          [headerHeight]="40"
          [summaryRow]="true"
          [summaryPosition]="'bottom'"
          [footerHeight]="40"
          [limit]="10"
          (activate)="onActivate($event)"
          rowHeight="auto">

          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-offering="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <table class="table">
                  <thead>
                  <tr>
                    <th>Quantité</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of offering.items">
                    <td scope="row" class="text-right">
                      <strong>{{ item.quantity }}</strong>
                    </td>
                    <td>
                      {{ item.type }}
                    </td>
                    <td width="100%">
                      {{ item.description }}
                    </td>
                  </tr>
                  </tbody>
                </table>
            </ng-template>
          </ngx-datatable-row-detail>


          <!-- Columns -->
          <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a href="javascript:void(0)"
                 [class.datatable-icon-right]="!expanded"
                 [class.datatable-icon-down]="expanded"
                 (click)="toggleExpandRow(row)"></a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="createdAt">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong>{{ value | date }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Nom" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="Société" prop="company"></ngx-datatable-column>
          <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
          <ngx-datatable-column name="Téléphone" prop="phone"></ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->


