<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">0</div>
          <div>Donations</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
